{% extends 'base.html' %} {% block content %}

<h1>Influencer List</h1>

{% for influencer in influencers %}

<div class="card">
{% comment %} <a href="{% url 'detail' influencer.id %}">  {% endcomment %}
    <div class="card-content">
        <span class="card-title">{{ influencer.name }}</span>
        <p>Name: {{ influencer.name }}</p>
        <p>Real Name: {{ influencer.real_name }}</p>
        <p>Website: {{ influencer.website }}</p>
        <p>Image: <img src="{{ influencer.image_url }}" alt="{{ influencer.name }}"></p>
    </div>
{% comment %} </a> {% endcomment %}
</div>
{% endfor %} {% endblock %}