{% extends 'base.html' %} {% block content %}

<h1>Influencer List</h1>

{% for influencer in influencers %}

<div class="card">
<a href="{% url 'inf_detail' influencer.id %}"> 
    <div class="card-content">
        <span class="card-title">{{ influencer.name }}</span>
        <div class="coin_card">
            <div>
                <p>Name: {{ influencer.name }}</p>
                <p>Real Name: {{ influencer.real_name }}</p>
            </div>
            <img src="{{ influencer.image_url }}" alt="{{ influencer.name }}">
        </div>
    </div>
</a>
</div>
{% endfor %} {% endblock %}