{% extends 'base.html' %} {% block content %}

<h1>Coin List</h1>

{% for coin in coins %}

<div class="card">
<a href="{% url 'detail' coin.id %}"> 
    <div class="card-content">
        <span class="card-title">{{ coin.name }}</span>
        <div class="coin_card">
            <div>
                <p>Symbol: {{ coin.symbol }}</p>
                <p>Price: {{ coin.price }}</p>
            </div>
            <img src="{{ coin.image_url }}" alt="coin image">
        </div>
    </div>
</a>
</div>
{% endfor %} {% endblock %}